header {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo img {
    max-width: 20%;
    height: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  